{% extends 'base.html.twig' %}

{% block title %}Nos exemples de charpentes
{% endblock %}

{% block body %}

	<div class="bloc-haut">
		<div style="width:100%; height:150px; overflow:hidden">
			<img src="/images/fond/coal.jpg" class="img-haut" style="margin-top: -150px;"/>
		</div>
		<div class="surtext">
			<h1>Concept</h1>
		</div>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="./">Accueil</a>
				</li>
				<li class="breadcrumb-item">Concept</li>
			</ol>
		</nav>
	</div>
	<div class="container-fluid">
		<div class="row py-4 px-lg-5">
			<div class="col-lg-12 col-md-12 text-center">
				<h2 style="color:#95683E ;">Tout est frais. Tout est fait maison</h2>
			</div>
		</div>
		<div class="row px-lg-5">
			<div class="col-lg-6 col-md-12 px-5">
				<video width="500px" height="300px" controls="controls"/>

				<source src="/vids/fait_maison.mp4" type="video/mp4">
			</video>

		</div>
		<div class="col-lg-6 col-md-12 px-5">
			<p class="text-justify" style="font-size:20px;">Chez nous, le fait maison est un choix avant d’être un label. Nous travaillons des produits frais et bruts directement dans nos restaurants. Le congélateur, ce n’est que pour les glaces ! Tous ce que nous pouvons, nous le produisons nous même, du pain frais de nos burgers jusqu’à nos frites taillées sur place, en passant par nos sauces et nos desserts préparés chaque jour.
												Nous cuisinons la viande et les entrecôtes au charbon de bois, la viande est maturée. Nous faisons de la bonne cuisine, simple et décontractée, celle des repas en famille ou des barbecues entre copains, celle que l’on adore manger avec les doigts. De plus, nous avons un léger accent de la cuisine russe.
													Tous nos produits sont halals.
			</p>

		</div>

	</div>
	<div class="row py-4 px-lg-5" style="background-color:#15244C;">
		<div class="col-lg-7 col-md-12 px-5">
			<h2 style="color:#E6C9A5;">Notre pain est artisanal</h2>
			<p class="text-justify text-white">Un bon hamburger n’existe pas sans un bon pain. C’est en travaillant aux côtés d’un véritable artisan boulanger que nous avons élaboré notre pain, une recette exclusive, à la fois moelleuse et savoureuse. Un pain extra frais, pétri et cuit chaque jour sur place, c’est déjà goûter la différence.
			</p>
		</div>
		<div class="col-lg-5 col-md-12 text-center">
			<video width="500px" height="300px" controls="controls"/>

			<source src="/vids/pain.mp4" type="video/mp4">
		</video>
	</div>
</div>
<div class="row py-4 px-lg-5" style="background-color:#6EC1E4;">
	<div class="col-lg-5 col-md-12 mb-3 mb-lg-3-none text-center">
		<video width="500px" height="300px" controls="controls"/>

			<source src="/vids/frites.mp4" type="video/mp4">
		</video>
	</div>
	<div class="col-lg-7 col-md-12 px-5">
		<h2 class="text-white">Frites maison</h2>
		<p class="text-justify text-white">Nos frites sont préparées fraîches chaque jour, avec une variété de pomme de terre de saison. Deux bains d’huile pour les cuire juste comme il faut, relevées de fleur de sel.
		</p>
	</div>
</div>
<div class="row py-4 px-lg-5" style="background-color:#15244C;">
	<div class="col-lg-7 col-md-12 px-5">
		<h2 style="color:#E6C9A5;">Chez vous ou chez nous</h2>
	</br>
	<h3 style="color:white">Faites vous livrer</h3>
	<p class="text-justify text-white">Commandez vos burgers facilement en quelques clics, depuis votre canapé ou votre bureau, sur votre pc ou depuis votre smartphone. Choisissez votre horaire de livraison, nous nous occupons du reste.
	</p>
	<h3 style="color:white">Dégustez sur place</h3>
	<p class="text-justify text-white">Tous nos restaurants vous permettent de manger sur place tous les jours de la semaine midis et soirs. Alors surtout, n’hésitez pas à venir nous voir !
	</p>
	<h3 style="color:white">Emportez votre commande</h3>
	<p class="text-justify text-white">Commandez en ligne ou par téléphone, indiquez nous votre heure de passage : vos burgers vous attendront et non l’inverse !
	</p>

</div>
<div class="col-lg-5 col-md-12 text-center">
	<video width="500px" height="420px" controls="controls"/>

	<source src="/vids/commandes.mp4" type="video/mp4">
</video></div></div><div class="container"><div class="row py-4 px-lg-5">
<div class="col text-center">
	<h3>Visionnez nos spécialités</h3>
</div></div><div id="carrouselCharpente" class="carousel slide carousel-fade" data-bs-ride="carousel">
<div class="carousel-inner">
	<div class="carousel-item active">
		<img src="/images/illustrations/Charpentes/g2.jpeg" class="d-block w-100">
	</div>
	<div class="carousel-item">
		<img src="/images/illustrations/Charpentes/g3.jpeg" class="d-block w-100">
	</div>
	<div class="carousel-item">
		<img src="/images/illustrations/Charpentes/g4.jpeg" class="d-block w-100">
	</div>
	<div class="carousel-item">
		<img src="/images/illustrations/Charpentes/g1.jpeg" class="d-block w-100">
	</div>
	<div class="carousel-item">
		<img src="/images/illustrations/Charpentes/g11.jpeg" class="d-block w-100">
	</div>
	<div class="carousel-item">
		<img src="/images/illustrations/Charpentes/g6.jpeg" class="d-block w-100">
	</div>
	<div class="carousel-item">
		<img src="/images/illustrations/Charpentes/g7.jpeg" class="d-block w-100">
	</div>
	<div class="carousel-item">
		<img src="/images/illustrations/Charpentes/g8.jpeg" class="d-block w-100">
	</div>
	<div class="carousel-item">
		<img src="/images/illustrations/Charpentes/g9.jpeg" class="d-block w-100">
	</div>
	<div class="carousel-item">
		<img src="/images/illustrations/Charpentes/g10.jpeg" class="d-block w-100">
	</div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	<span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
	<span class="carousel-control-next-icon" aria-hidden="true"></span>
	<span class="visually-hidden">Next</span>
</button></div><div class="row py-4 px-lg-5">
<div class="col mx-5 text-center">
	<h4>Un devis ? Une question ?
		<a class="btn btn-primary mx-5" style="background-color:#1E2F79" href="contact" role="button">Nous contacter</a>
	</h4>
</div></div></div></div>{% endblock %}
