{% extends 'base.html.twig' %}

{% block title %}Hello QuiController!{% endblock %}

{% block body %}
<div class="bloc-haut">
  <div style="width:100%; height:150px; overflow:hidden">
    <img src="/images/illustrations/toit_fenetre.jpg" class="img-haut" style="margin-top: -50px;"/>
  </div>
  <div class="surtext">
    <h1>Nos couvertures</h1>
    <p>Nos couvertures, avec plus de 10 ans d'expérience</p>
  </div>
</div>
<div class="container-fluid">
    <div class="row py-4 px-5">
        <div class="col-lg-12 col-md-12 text-center">
            <h2 style="color:#95683E;">Une toiture de précision</h2>
        </div>
    </div>
  <div class="row py-4 px-5">
    <div class="col-lg-6 col-md-12 px-5">
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare placerat nulla, ut hendrerit massa hendrerit vitae. Donec cursus mauris ac purus finibus auctor nec non odio. Praesent vitae eros non lacus mollis egestas in et velit. Quisque congue dapibus tellus sit amet dictum. Nam risus ligula, varius eget dictum vel, dictum non risus. Sed vestibulum sapien elit, et condimentum risus tincidunt facilisis. Donec leo odio, auctor posuere laoreet vel, sagittis ut risus. Aenean sed cursus ante, a consectetur tortor. Curabitur sed arcu vel lacus placerat tristique. Vivamus sed lectus nec odio efficitur vulputate vel ac sem. Sed elit lacus, accumsan sit amet mi non, consequat rutrum velit. Morbi tempor tellus ut vehicula rhoncus. Praesent efficitur dui id dolor malesuada imperdiet. Etiam laoreet sit amet massa nec pharetra.
        </p>
    </div>
    <div class="col-lg-6 col-md-12 px-5">
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare placerat nulla, ut hendrerit massa hendrerit vitae. Donec cursus mauris ac purus finibus auctor nec non odio. Praesent vitae eros non lacus mollis egestas in et velit. Quisque congue dapibus tellus sit amet dictum. Nam risus ligula, varius eget dictum vel, dictum non risus. Sed vestibulum sapien elit, et condimentum risus tincidunt facilisis. Donec leo odio, auctor posuere laoreet vel, sagittis ut risus. Aenean sed cursus ante, a consectetur tortor. Curabitur sed arcu vel lacus placerat tristique. Vivamus sed lectus nec odio efficitur vulputate vel ac sem.
        </p>
    </div>
  </div>
  <div class="row py-4 px-5" style="background-color:#4A4134;">
  <div class="col-lg-7 col-md-12 px-5">
    <h2 style="color:#E6C9A5;">Des matériaux qualitatifs</h2>
        <p class="text-justify text-white">André Legermain a fondé son entreprise en sortant de l’école à seulement 22 ans. Travaillant dans ce domaine depuis maintenant une dizaine d’année il effectue un BTS enveloppe du bâtiment avant de poursuivre avec un master afin de devenir ingénieur structure conception bâtiment. Habitué à intervenir sur des ouvrages spécifiques, il profite de chacun d’entre eux pour se challenger et découvrir de nouvelles méthodes de travail et de réflexion. Pour lui chaque projet est bien plus qu’une réalisation, c’est une réelle recherche afin de créer ou de conserver l’identité de l’ouvrage. 
        </p>
    </div>
    <div class="col-lg-5 col-md-12 text-center">
        <img src="images/illustrations/angle_toiture_rogné.jpg " class="img-qui">
    </div>
  </div>
  <div class="row py-4 px-5" style="background-color:#95683E;">
    <div class="col-lg-5 col-md-12 text-center">
        <img src="images/illustrations/maison_en_travaux_rogné.jpg " class="img-qui">
    </div>
    <div class="col-lg-7 col-md-12 px-5">
    <h2 class="text-white" >Une installation rapide</h2>
        <p class="text-justify text-white">Philippe Troquin a rejoint son ami dans son aventure il y a maintenant 6 ans. Après plusieurs années passées au sein d’une grosse entreprise, le contact humain qu’apporte son métier lui manquait. Avant d’intégrer le domaine du bâtiment Philippe effectue un BTS systèmes constructifs et habitats puis obtient son master et devient ingénieur du bois. Il est animé depuis très jeune par la construction et la création et s’essaye à tous les domaines, mais c’est sur le bois qu’il s’arrête afin d’en faire ce qui l’animera jusqu’à aujourd’hui.
        </p>
    </div>
  </div>
</div>
{% endblock %}
