{% extends 'base2.html.twig' %}

{% block title %}ABC Legermain{% endblock %}

{% block body %}
<section class="accueil-first-part">
    <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false" data-bs-interval="5000">
        <div class="carousel-inner">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-item active">
                <img src="/images/illustrations/Charpentes/charpente1.JPG" class="d-block w-100 active img-fluid">
                <div class="carousel-caption">
                    <h1>ABC Legermain</h1>
                    <p>Menuiseries, Charpentes, Couvertures...</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/illustrations/Couvertures/couverture1.JPG" class="d-block w-100 img-fluid">
                <div class="carousel-caption">
                    <h1>ABC Legermain</h1>
                    <p>Menuiseries, Charpentes, Couvertures...</p>
                </div>
            </div> 
            <div class="carousel-item">
                <img src="/images/illustrations/Ouvrages/ouvrage2.jpg" class="d-block w-100 img-fluid" >
                <div class="carousel-caption">
                    <h1>ABC Legermain</h1>
                    <p>Menuiseries, Charpentes, Couvertures...</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="accueil-second-part container-fluid px-4 px-md-5">
    <div class="row py-3 align-items-top">
        <div class="col-sm-12 col-md-6">
            <h2>NOTRE ENTREPRISE :</h2>
            <p>La société Legermain, jeune entreprise alliant créativité et dynamisme, vous propose de mettre son savoir faire à votre service.<br>
                Pour  vos travaux de charpente, couverture, escaliers et autres ouvrages spécifiques, faites confiance à deux techniciens du bois, André Legermain et Philippe Troquin. Habitués à intervenir, notamment, sur des bâtiments classés Monuments Historiques.
            </p>
        </div>
        <div class="col-sm-12 col-md-6 text-center">
            <img class="img-fluid accueil-img" src="/images/illustrations/homme_casque_chantier.jpg" alt="homme casque chantier">
        </div>
    </div>
    <div class="row py-4">
        <hr>
    </div>
    <div class="row py-3" align="center">
        <h2>NOS CERTIFICATS : </h2>
    </div>
    <div class="row py-3 gy-3" align="center">
        <div class="col-12 col-sm-6 col-md-4"><img class="img-fluid logos-certificats" src="/images/logos/fondation-du-patrimoine.jpg" alt=""></div>
        <div class="col-12 col-sm-6 col-md-4"><img class="img-fluid logos-certificats" src="/images/logos/logo_qualibat.png" alt=""></div>
        <div class="col-12 col-sm-12 col-md-4"><img class="img-fluid logos-certificats" src="/images/logos/logo-maitreartisan.png" alt=""></div>
    </div>
    <div class="row py-4">
        <hr>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center py-3 pb-5" align="center">
        <div class="px-2"><h2>DÉCOUVREZ NOTRE SAVOIR-FAIRE</h2></div>
        <div class="px-2"><button type="button" class="btn btn-primary">Nos réalisations</button></div>
    </div>
</section>

<section class="accueil-third-part container-fluid" align="center">
    <div class="row py-3">
        <h2>VISIONNEZ NOS OUVRAGES : </h2>
    </div>
    <div class="row py-3 gy-3 px-5">
        <div id="bouton-charpentes" class="col-12 col-sm-4"><button type="button" class="btn btn-primary">Charpentes</button>  </div>
        <div id="bouton-ouvrages" class="col-12 col-sm-4"><button type="button" class="btn btn-primary">Ouvrages spéciaux</button></div>
        <div id="bouton-couvertures" class="col-12 col-sm-4"><button type="button" class="btn btn-primary">Couvertures</button></div>
    </div>
    <div id="visionneuse-charpentes" class="row g-0 py-3 px-5 visionneuse-images">
        <div class="col-12 col-sm-6 px-0 mx-0 left-col">
        <img src="/images/illustrations/Ouvrages/ouvrage11.JPG" alt="" class="img-fluid">
        </div>
        <div class="col-12 col-sm-6 px-0 mx-0 right-col">
            <div class="row g-0">
                <div class="col px-0 mx-0"><img src="/images/illustrations/Ouvrages/ouvrage11.JPG" alt="" class="img-fluid"></div>
                <div class="col px-0 mx-0"><img src="/images/illustrations/Ouvrages/ouvrage11.JPG" alt="" class="img-fluid"></div>
            </div>
            <div class="row g-0">
                <div class="col px-0 mx-0"><img src="/images/illustrations/Ouvrages/ouvrage11.JPG" alt="" class="img-fluid"></div>
                <div class="col px-0 mx-0"><img src="/images/illustrations/Ouvrages/ouvrage11.JPG" alt="" class="img-fluid"></div>
            </div>
        </div>
    </div>
    <div id="visionneuse-ouvrages" class="row visionneuse-images d-none">
        <div class="col">
        <img src="" alt="" class="img-fluid">
        </div>
        <div class="col">
            <div class="row">
                <div class="col"><img src="" alt="" class="img-fluid"></div>
                <div class="col"><img src="" alt="" class="img-fluid"></div>
            </div>
            <div class="row">
                <div class="col"><img src="" alt="" class="img-fluid"></div>
                <div class="col"><img src="" alt="" class="img-fluid"></div>
            </div>
        </div>
    </div>
    <div id="visionneuse-couverture" class="row visionneuse-images d-none">
        <div class="col">
        <img src="" alt="" class="img-fluid">
        </div>
        <div class="col">
            <div class="row">
                <div class="col"><img src="" alt="" class="img-fluid"></div>
                <div class="col"><img src="" alt="" class="img-fluid"></div>
            </div>
            <div class="row">
                <div class="col"><img src="" alt="" class="img-fluid"></div>
                <div class="col"><img src="" alt="" class="img-fluid"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
