{% extends 'base.html.twig' %}

{% block title %}Hello QuiController!{% endblock %}

{% block body %}
<style>
    
</style>
<div class="center-cropped" 
     style="background-image: url('http://placehold.it/200x200');">
  <img src="http://placehold.it/200x200" />
</div>
<div class="container">
  <div class="row py-3">
    <div class="col">
      <img src="images/illustrations/homme_perceuse.jpg " class="img-qui">
    </div>
    <div class="col">
    <h2>L'entreprise</h2>
        <p class="text-justify">La société Legermain est une jeune entreprise alliant créativité et dynamisme.
        Présent sur des travaux de charpente, couverture, escaliers et autres ouvrages spécifiques vous pouvez faire confiance à deux techniciens du bois, André Legermain et Philippe Troquin habitués à intervenir, notamment, sur des bâtiments classés Monuments Historiques.
        Lors de nos différentes réalisations nous apportons un soin particulier à l’écoute et au conseil, deux points essentiels qui précédent la réalisation de vos ouvrages.
        Réaliser un travail artisanal, respectueux des traditions, tout en accordant notre prestation à votre budget, telle est notre ambition.
        </p>
    </div>
  </div>
  <div class="row py-3" style="background-color:#4A4134;">
  <div class="col">
    <h2>André Legermain</h2>
        <p class="text-justify text-white">André Legermain a fondé son entreprise en sortant de l’école à seulement 22 ans. Travaillant dans ce domaine depuis maintenant une dizaine d’année il effectue un BTS enveloppe du bâtiment avant de poursuivre avec un master afin de devenir ingénieur structure conception bâtiment. Habitué à intervenir sur des ouvrages spécifiques, il profite de chacun d’entre eux pour se challenger et découvrir de nouvelles méthodes de travail et de réflexion. Pour lui chaque projet est bien plus qu’une réalisation, c’est une réelle recherche afin de créer ou de conserver l’identité de l’ouvrage. 
        </p>
    </div>
    <div class="col">
        <img src="images/illustrations/homme_casque_chantier.jpg " class="img-qui">
    </div>
  </div>
  <div class="row py-3" style="background-color:#95683E;">
    <div class="col">
        <img src="images/illustrations/homme_sur_chantier.jpg " class="img-qui">
    </div>
    <div class="col">
    <h2 class="text-white" >Philippe Troquin</h2>
        <p class="text-justify text-white">Philippe Troquin a rejoint son ami dans son aventure il y a maintenant 6 ans. Après plusieurs années passées au sein d’une grosse entreprise, le contact humain qu’apporte son métier lui manquait. Avant d’intégrer le domaine du bâtiment Philippe effectue un BTS systèmes constructifs et habitats puis obtient son master et devient ingénieur du bois. Il est animé depuis très jeune par la construction et la création et s’essaye à tous les domaines, mais c’est sur le bois qu’il s’arrête afin d’en faire ce qui l’animera jusqu’à aujourd’hui.
        </p>
    </div>
  </div>
</div>
{% endblock %}
