@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(242, 242, 242);
}

.img-footer {
    height : 30px;
    width : 30px;
    margin : 0 10px 10px 0 !important;
}

.nav-link {
    color : #E6C9A5;
}

.btn-footer, .btn-footer:hover, .btn-footer:active, .btn-footer:visited {
    background-color: #E6C9A5 !important;
    color : black !important;
    border-radius: 30px !important;
    width: 192px !important;
    height: 42px !important;
}

.navbar {
    background-color: #4A4134 !important;
}

.nav-link {
    color : #E6C9A5 !important;
}
.nav-link img {
    filter: brightness(0) saturate(100%) invert(88%) sepia(13%) saturate(779%) hue-rotate(343deg) brightness(94%) contrast(91%);
    height: 22px;
}

.nav-link img:hover {
    filter: brightness(0) saturate(100%) invert(100%);
}

.nav-link:hover{
    color : #ffffff !important;
}

.navbar .active {
    font-weight: bold !important;
}
.navbar-brand img{
    filter: brightness(0) saturate(100%) invert(88%) sepia(13%) saturate(779%) hue-rotate(343deg) brightness(94%) contrast(91%);
    height: 70px;
}

.navbar-brand img:hover {
    filter: brightness(255);
}



// ACCUEIL

.accueil-second-part {
    background-color: #4A4134;
    color: white;
}

.accueil-third-part {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.accueil-second-part div>hr {
    width: 50%;
    margin: auto;
}

.accueil-info-item {
    width: 450px !important;
}

.logos-certificats {
    width: 150px !important;
}

#myCarousel {
    top: 0;
    .carousel-inner {
        height: 100vh;
    }
    
    .carousel-item {
        height: 100%;
    }
    
    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(70%);
    }
    
    .carousel-indicators {
        justify-content: flex-end;
        margin-right: 3px;
        margin-bottom: 3px;
    }
    
    .carousel-caption {
        top: 100px;
        left: 0;
        margin-left: 1rem;
        text-align: left;
        text-shadow: 0px 4px 4px black;
    }
    
    .visionneuse-images img {
        object-fit: cover;
    }
    
    .visionneuse-images .left-col img {
        width: 30vh;
        height: 30vh;
    }
    
    .visionneuse-images .right-col img {
        width: 15vh;
        height: 15vh;
    }
}



// FIN ACCUEIL