@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(242, 242, 242);
}

.img-footer {
    height : 30px;
    width : 30px;
}

.nav-link {
    color : #E6C9A5;
}

img {
    padding : 30px;
}