@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(242, 242, 242);
}

.img-footer {
    height : 30px;
    width : 30px;
    margin : 0 10px 10px 0 !important;
}

.nav-link {
    color : #E6C9A5;
}

.btn-footer, .btn-footer:hover, .btn-footer:active, .btn-footer:visited {
    background-color: #E6C9A5 !important;
    color : black !important;
    border-radius: 30px !important;
    width: 192px !important;
    height: 42px !important;
}

.nav-link {
    color : #E6C9A5 !important;
}

.navbar-brand {
    margin-left : 0.5% !important;
}

.accueil-second-part {
    background-color: #4A4134;
    color: white;
}

.accueil-third-part {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.accueil-second-part div>hr {
    width: 50%;
    margin: auto;
}

.accueil-img {
    width: 450px !important;
}

.logos-certificats {
    width: 150px !important;
}

// .accueil-first-part .carousel-inner img {
//     height: 80vh !important;
// }