@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(242, 242, 242);
}

.img-footer {
    height : 30px;
    width : 30px;
    margin : 0 10px 10px 0 !important;
}

.nav-link {
    color : #E6C9A5;
}

.btn-footer, .btn-footer:hover, .btn-footer:active, .btn-footer:visited {
    background-color: #E6C9A5 !important;
    color : black !important;
    border-radius: 30px !important;
    width: 192px !important;
    height: 42px !important;
}

.nav-link {
    color : #E6C9A5 !important;
}

.navbar-brand {
    margin-left : 0.5% !important;
}

.container {
    width : 80% !important;
}

.h1 { 
    padding: 10px auto !important;
    font-size: 100px sans-serif !important;
    align:left;
    display: flex;
    justify-content: space-between;
    width: 500px
}

.example-wrapper code { 
    background: #F5F5F5 !important;
     padding: 2px 6px !important; 
}

.conteneur {
    display: flex !important;
    justify-content: space-around !important;
    font: 20px/1.5 sans-serif !important; 
}