@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(242, 242, 242);
}

.img-footer {
    height : 30px;
    width : 30px;
    margin : 0 10px 10px 0 !important;
}

.nav-link {
    color : #E6C9A5;
}

.btn-footer, .btn-footer:hover, .btn-footer:active, .btn-footer:visited {
    background-color: #E6C9A5 !important;
    color : black !important;
    border-radius: 30px !important;
    width: 192px !important;
    height: 42px !important;
}

.nav-link {
    color : #E6C9A5 !important;
}

.navbar-brand {
    margin-left : 0.5% !important;
}

.container {
    width : 80% !important;
}

.tittle { 
    text-align: center;
}

.example-wrapper code { 
    background: #F5F5F5 !important;
     padding: 2px 6px !important; 
}

.conteneur {
    display: flex !important;
    justify-content: space-around !important;
    font: 20px/1.5 sans-serif !important; 
}

@media (min-width: 1000px){
    .form-candidat {
        width: 70% !important;
        margin: auto;
    }
}

@media (max-width: 999.9px){
    .form-candidat {
        margin: auto;
    }
}

.form-candidat-infoComp {
    min-height: 30vh !important;
}

.form-candidat-envoyer{
    text-align: right;
}

.form-candidat-retour{
    text-align: left;
}

// .form-candidat-captcha{
   
// }

.form-candidat-button {
    background-color: #E6C9A5;
}

