@import "~bootstrap/scss/bootstrap";

@font-face{
    font-family : 'Helvetica';
    src : url('../fonts/Helvetica.ttf');
}

@font-face{
    font-family : 'Helvetica Rounded';
    src : url('../fonts/Helvetica-rounded-bold.otf');
}

@font-face{
    font-family : 'Montserrat Bold';
    src : url('../fonts/Montserrat-Bold.ttf');
}

@font-face{
    font-family : 'Montserrat Regular';
    src : url('../fonts/Montserrat-Regular.ttf');
}

body {
    background-color: rgb(242, 242, 242);
}

.img-footer {
    height : 30px;
    width : 30px;
    margin : 0 10px 10px 0 !important;
}

.nav-link {
    color : #E6C9A5;
}

.btn-footer, .btn-footer:hover, .btn-footer:active, .btn-footer:visited {
    background-color: #E6C9A5 !important;
    color : black !important;
    border-radius: 30px !important;
    width: 192px !important;
    height: 42px !important;
}

.btn-actualite, .btn-actualite:hover, .btn-actualite:active, .btn-actualite:visited {
    background-color: #95683E !important;
    color : white !important;
    border-radius: 5px !important;
    width: 150px !important;
    position: relative; 
    top:80% !important;
}

.nav-link {
    color : #E6C9A5 !important;
}

.navbar-brand {
    margin-left : 0.5% !important;
}

.text-justify {
    text-align: justify;
}

.img-qui {
    width : 80%;
}

.img-haut {
    display: block;
    width:100%; 
}

.bloc-haut {
    position: relative;
    display: inline-block;
    width: 100% !important;
}

.surtext {
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translate( -10%, -5% );
    text-align: left;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px #000;
}

.surtext h1 {
    font-family: 'Montserrat Bold';
}

.surtext p {
    font-family: 'Montserrat Regular';
}

.reseaux-footer a {
    text-decoration: none !important;
}

@media (min-width: 1000px){
    .img-article {
        float: left;
        width: 35%;
        padding-right: 30px !important;
    }
}

@media (max-width: 999.9px){
    .img-article {
        width: 100%;
        padding-bottom: 10px !important;
    }
}

.titre-article {
    font-family: 'Helvetica Rounded';
}

.contenu-article {
    font-family: 'Montserrat Regular';
}

.accueil-second-part {
    background-color: #4A4134;
    color: white;
}

.accueil-third-part {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.accueil-second-part div>hr {
    width: 50%;
    margin: auto;
}

.accueil-img {
    width: 450px !important;
}

.logos-certificats {
    width: 150px !important;
}

#myCarousel {
    top: 0;
}

.carousel-inner {
    height: 100vh;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.carousel-indicators {
    justify-content: flex-end;
    margin-right: 3px;
    margin-bottom: 3px;
}

.carousel-caption {
    margin: 0;
    padding: 0;
    top: 23%;
    left: 3%;
    text-align: left;
    text-shadow: 0px 4px 4px black;
}

.visionneuse-images img {
    object-fit: cover;
}

.visionneuse-images .left-col img {
    width: 40vw;
    height: 40vw;
}

.visionneuse-images .right-col img {
    width: 20vw;
    height: 20vw;
}