<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
       <!-- Footer -->
<footer class=" text-center text-white" style="background-color:#4a4134;">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-4">
          <h5 class="text-uppercase">Réseaux sociaux</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white"><img src="images/logo_snapchat.png" class="img-footer">Snapchat</a>
            </li>
            <li>
              <a href="#!" class="text-white"><img src="images/logo_instagram.png" class="img-footer">Instagram</a>
            </li>
            <li>
              <a href="#!" class="text-white"><img src="images/logo_facebook.png" class="img-footer">Facebook</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-4">
          <h5 class="text-uppercase">Navigation</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">>Qui sommes nous?</a>
            </li>
            <li>
              <a href="#!" class="text-white">> Notre savoir faire</a>
            </li>
            <li>
              <a href="#!" class="text-white">> Actualités</a>
            </li>
            <li>
              <a href="#!" class="text-white">> Nous rejoindre</a>
            </li>
            <li>
              <a href="#!" class="text-white">> Contact</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-4">
          <h5 class="text-uppercase">Contact</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <p><b>Horaires :</b> du lundi au samedi de 18h à 20h</p>
            </li>
            <li>
                <p><b>Adresse :</b> Zone Artisanale 72140 Rouez en Champagne</p>
            </li>
            <li>
              <p><b>Téléphone :</b> 02 47 36 70 34</p>
            </li>
            <li>
              <p><b>Email :</b> infos@legermain.com</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <a class="text-white" href="https://mdbootstrap.com/">Petit bouton de connexion tah l'époque</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    </body>
</html>
