{% extends 'base.html.twig' %}

{% block title %}Nous Rejoindre{% endblock %}

{% block body %}

<div>
    <h1>Nous rejoindre</h1>
</div>
<div align=center>
    <h2>Déposez votre candidature<h2>
</div>
<div>
    <div>
        <p>Au sein de la société Legermain règne un climat social, respectueux et constructif.
        En pensant d’abord à notre capital humain, nous donnons un sens à chacune de nos actions,
        nous capitalisons sur un esprit d’équipe fort où il fait bon vivre.
        Nous attachons une grande importance au développement des compétences, à l’engagement, à la responsabilisation.
        </p>
    </div>
    <div>
        <p>Vous partagez notre vision ? Vous souhaitez rejoindre une société aux multiples projets et possibilités ?
        Vous avez envie de contribuer à votre manière à nos plus grands succès ?
        alors déposez-nous votre candidature en remplissant le formulaire ci-dessous :
        </p>
    </div>
</div>
<div align=center>
    <h2>Veuillez remplir ce formulaire</h2>
</div>
{% endblock %}
