{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
<div align="center">
<h1>Bienvenue sur l'interface de gestion de la société ABC Legermain</h1>
<img src="images/logos/LogoArtisan.PNG"/>
</div>
{% endblock %}