{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<div class="bloc-haut">
  <div style="width:100%; height:150px; overflow:hidden">
    <img src="/images/illustrations/journal.jpg" class="img-haut" style="margin-top: -450px;"/>
  </div>
  <div class="surtext">
    <h1>Nos actualités</h1>
    <p>Découvrez ABC au quotidien</p>
  </div>
</div>
<div class="container shadow-sm p-5 mb-5 bg-white rounded">
<div class="row py-4 px-lg-5">
        <div class="col-lg-12 col-md-12 text-center">
            <h2 style="color:#95683E;">Titre article</h2>
        </div>
    </div>
    <div class="text-center">
        <img src="images/illustrations/homme_casque_chantier.jpg" class="img-article">
    </div>
    <div class="text-justify">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In malesuada odio in justo tincidunt convallis. Nulla nunc massa, rutrum non felis a, ultrices euismod sem. Donec lacinia luctus risus, eget facilisis turpis fermentum quis. Aenean augue nisi, pulvinar a lectus sed, rutrum cursus lorem. Donec sollicitudin iaculis odio, vel ultrices ex ultrices sed. Pellentesque aliquet vitae nisi quis ultricies. Nullam consectetur orci et imperdiet hendrerit. Praesent volutpat nisl vel felis viverra semper. Pellentesque a velit turpis. Vivamus nec vulputate sapien. Donec quis nisi libero. Suspendisse eu mauris nec odio elementum lobortis id in orci. Curabitur venenatis, arcu ut ultricies tincidunt, purus quam malesuada est, egestas feugiat erat ex quis enim. In est lorem, pulvinar pulvinar suscipit non, convallis nec ex. Phasellus odio ipsum, faucibus ac congue id, bibendum sit amet lorem. Donec est lacus, efficitur non consequat ut, hendrerit sed dolor. Mauris non orci accumsan, vehicula nibh sed, tincidunt lorem. Phasellus luctus accumsan scelerisque. Duis eu venenatis risus. Sed ullamcorper ullamcorper porttitor. Phasellus scelerisque justo laoreet mauris rutrum, ac finibus sem mollis. Integer pulvinar, quam ut ultricies dignissim, tellus urna imperdiet est, nec fermentum risus diam maximus lacus. Nam finibus condimentum nisi in tristique. Quisque ut ornare neque. Morbi sollicitudin convallis arcu, nec imperdiet nunc feugiat vitae. Donec pellentesque nisi et augue euismod laoreet. Mauris vel fringilla arcu, vel fermentum lacus. Nunc quis neque eget lorem molestie interdum at ut eros. In placerat eu lectus sed venenatis. In finibus, ipsum at venenatis rhoncus, ex ligula ornare eros, quis aliquet risus lectus at dui. Donec varius ipsum porttitor metus fringilla porta. Fusce vel sollicitudin sapien. Maecenas augue lectus, malesuada eget ullamcorper eget, condimentum ultrices nibh. Etiam quis ex semper, semper dolor nec, egestas lectus. Vivamus vel facilisis purus. Aliquam feugiat sollicitudin ipsum quis vestibulum. Mauris ante ipsum, fermentum id arcu in, auctor convallis magna. Sed tristique fringilla massa, non condimentum odio maximus sed. Fusce at sollicitudin diam. Vestibulum sit amet ex sed erat posuere pulvinar. Cras eu quam commodo tellus elementum vestibulum et quis magna. Suspendisse potenti. Mauris placerat turpis viverra convallis varius. Aenean vitae vulputate lorem, id venenatis diam. Pellentesque eu ex lacinia, faucibus magna id, sagittis ex. Donec sit amet erat lacus. In sodales elit vel dapibus fringilla. Duis nec nulla sit amet lacus pellentesque fringilla ut nec nibh. Nulla dignissim ipsum sollicitudin tellus faucibus elementum. Proin tincidunt lectus quis lectus cursus aliquam. Praesent lacus diam, consectetur a mi sed, euismod efficitur est. Sed quis tristique diam. Donec finibus lacinia sem, vel pharetra erat semper ac. Donec rutrum finibus sem non consequat. Sed ultricies et velit et lacinia. Mauris rutrum dui felis, ac posuere tortor fermentum et. Sed sit amet ex sit amet velit viverra lacinia ut a diam.</p>
    </div>
</div>
{% endblock %}
